@import "~bootstrap/scss/bootstrap";
@import url('http://fonts.cdnfonts.com/css/circular-std-book');
@import url('http://fonts.cdnfonts.com/css/circular-std-medium');
@import url('http://fonts.cdnfonts.com/css/circular-std-bold');
@import url('http://fonts.cdnfonts.com/css/circular-std-black');

@import "../styles/mixins";

body {
  font-family: 'Circular Std Book', sans-serif;
  background-color: #eaeaea;
  padding: 1rem;
}

section {
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 10px;
  background-color: #fff;
  margin: 1rem 0;
  padding: 1rem;

  div {
    display: flex;
  }
}

p {
  color: #5f5a69;
  text-align: justify;
}

ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

button {
  flex-grow: 1;
  justify-self: flex-end;
  max-height: 70px;
  border-radius: 10px;
}

h1 {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
}

h2 {
  font-family: 'Circular Std Bold';
}

img {
  align-self: center;
  height: 300px;
  width: auto;
  margin: 1rem auto;
}

input[type="text"] {
  border-color: #eaeaea;
  border-radius: 10px;
  margin: 1rem 0;
  padding: 10px;
}

input[type="radio"] {
  margin: 0 10px 20px;
  width: 20px;
}

fieldset {
  display: flex;
  justify-content: space-between;
  
  label {
    flex-grow: 1;
  }
}

hr {
  margin: 2rem 0;
}

.beer-item div {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.beer-item li div {
  flex-direction: column;
}

.beer-item hr {
  display: none;
}

.search-area {
  margin: 2rem 0;
}

.search-area div,
.results-area div {
  flex-direction: column;
  flex-wrap: nowrap;
}

.results-area h2 {
  margin-bottom: 1rem;
}

.go-top--link:hover {
  color: #ffc107;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  body {
    font-size: 1.25rem;
  }

  h1 {
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
  }

  h2,
  h3 {
    text-align: left;
    margin-bottom: 2rem;
  }

  button {
    max-width: 240px;
  }

  .beer-item {
    flex-direction: row;
  }

  .beer-item h2 {
    text-align: left;
    margin-bottom: 1rem;
  }

  .beer-item li {
    flex: 4;

    div {
      flex-direction: row;
  
      picture {
        flex: 1;
        background-color: #ffc107;
        border-radius: 10px;
      }
  
      p {
        flex: 3;
        margin: 0 2rem;
      }
    }

  }

  .beer-item div {
    flex: 1;
    flex-direction: column;
    justify-content: center;
  }

  .beer-item__buttons {
    max-width: 240px;
  } 

  .beer-item button {
    margin: 1rem 0;
  }

  .beer-item, 
  .search-area, 
  .results-area {
    padding: 2rem;
  }

  .search-area div {
    flex-direction: row;

    input[type="text"] {
      flex: 2;
      margin: 0;
    }

    fieldset {
      flex: 2;

      label {
        line-height: 3rem;
      }

      input { 
        margin-bottom: 0;
      }
    }

    button {
      flex: 1;
    }
  }

  .results-area {

    li {
      margin: 1rem 0;
    }

    h2 {
      text-align: left;
      margin-bottom: 1rem
    }

    picture {
      flex: 1;
      background-color: #ffc107;
      border-radius: 10px;
    }

    p {
      flex: 4;
      margin: 0 2rem;
    }

    div {
      flex-direction: row;
    }

    hr {
      margin: 3rem 0;
    }
  }

}